.icon {
  position: relative;
  display: inline-block;
  border: 1px solid whitesmoke;
  cursor: pointer;
}
.icon img {
  height: 3rem;
  width: 3rem;
}
.icon .iconToolTip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 1.5rem;
  font-family: "Ploni Regular";
}
.icon .iconToolTip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.icon:hover .iconToolTip {
  visibility: visible;
}
