.card {
  width: 250px;
  direction: rtl;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 5px 15px;
  border-radius: 10px 10px 0 0;
}
.title {
  font-size: 18px;
  font-weight: 800;
}
.city,
.fullText {
  font-size: 15px;
}
.actions {
  display: flex;
  padding: 0 15px;
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.remainder,
.addComment {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #61b2d6;
  margin: 10px 0 10px 10px;

  background-color: aliceblue;
  border-radius: 50%;
  padding: 10px;
}
img {
  height: 15px;
  width: 15px;
}
