.marker {
  background-color: #3655b3;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  box-sizing: content-box;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.data {
  position: absolute;
  top: 10%;
  left: 25%;
  background-color: #3655b3;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  box-sizing: content-box;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
